<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/header') %>

    <main class="dashboard">
      <%- include('partials/dashboard_nav') %>
      <div class="dashboard__page">
        <h1>settings</h1>
        <!-- accountname, registrationdate, yourfullname, new password, retype new password, your bitcoinacct,
        email account -->
        <div>
          <form action="/settings" method="POST">
            <input type="text" name="username" placeholder="update username" value="<%= user.username%>"><br/>
            <input type="email" name="email" placeholder="change email" value="<%= user.email%>"><br/>
            <input type="password" name="pass" placeholder="new password"><br/>
            <input type="password" name="pass2" placeholder="retype new password">
            <input type="submit" value="SUBMIT">
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
